<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>htmx Example on GitHub Pages</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <h1>htmx Example(json)</h1>
    <button hx-get="demo.json" hx-target="#json_preview" hx-trigger="click">
        jsonからメッセージを取得
    </button>
    <div id="json_preview"></div>

    <script>
        document.body.addEventListener('htmx:afterOnLoad', function(event) {
            if (event.detail.elt.id === 'json_preview') {
                var response = JSON.parse(event.detail.xhr.responseText);
                event.detail.elt.innerText = response.message;
            }
        });
    </script>

    <h1>htmx Example(html)</h1>
    <button hx-get="demo.html" hx-target="#html_preview" hx-trigger="click">
        外部htmlを取得
    </button>
    <div id="html_preview"></div>

</body>
</html>
